<div class="menu-fixed">
    <header class="page-header">
        <div class="header">
            <h1 routerLink="/">Cycling-blog.com</h1>
            <div class="slogan">Keep calm and ride a bike.</div>
        </div>
    </header>
    <nav class="menu" id="main-menu">
        <div class="search">
            <img src="assets/search-icon.svg" alt="">
        </div>
        <button (click)="dropdownMenu($event)" class="menu-toggle">collapse menu</button>
        <div class="menu-dropdown">
            <ul class="nav-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Bikes</a></li>
                <li><a href="">Where to ride</a></li>
                <li><a href="">About us</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="main-content">
    <aside class="hero">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo ex sunt repudiandae dicta, aut praesentium.
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>