<h2>Портфель робіт</h2>

<div class="portfolio">
    <figure class="featured">
        <img src="../../assets/portfolio/strawberry-chocolate_2.jpg" alt="Strawberry cake">
        <figcaption>Strawberry cake</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/strawberry-chocolate_1.jpg" alt="Cake">
        <figcaption>Cake</figcaption>
    </figure>
    <figure class="featured">
        <img src="../../assets/portfolio/bakery.jpg" alt="Bakery">
        <figcaption>Bakery</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/black_chocolate.jpg" alt="Chocolate">
        <figcaption>Chocolate</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/chocolate_cake.jpg" alt="Chocolate cake">
        <figcaption>Chocolate cake</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/cookies.jpg" alt="Cookies">
        <figcaption>Cookies</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/ice-cream.jpg" alt="Ice-cream">
        <figcaption>Ice-cream</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/color-cake.jpg" alt="Color cake">
        <figcaption>Color cake</figcaption>
    </figure>
    <figure>
        <img src="../../assets/portfolio/cake.jpg" alt="Small cake">
        <figcaption>Small cake</figcaption>
    </figure>
</div>

<div class="row">
    <section class="column">
        <h3 class="subtitle">Service 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
    <section class="column">
        <h3 class="subtitle">Service 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
    <section class="column">
        <h3 class="subtitle">Service 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
</div>

<div class="row">
    <section class="column">
        <h3 class="subtitle">Advantage 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
    <section class="column">
        <h3 class="subtitle">Advantage 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
    <section class="column">
        <h3 class="subtitle">Advantage 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, praesentium?
        </p>
    </section>
</div>