.card {
    margin: 2em auto;
    max-width: 375px;
    padding-bottom: 1.5em;

    h1 {
        margin-bottom: 0;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(199, 35, 35);
    }
}

button {
    margin-top: 1em;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

input[type='submit'],
button {
    font: inherit;
}