<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new post</h1>
    <div class="form-control" [ngClass]="{invalid: title?.invalid && (title?.dirty || title?.touched)}">
        <label for="title">Title:*</label>
        <input id="title" type="text" formControlName="title">
        <div class="validation" *ngIf="title?.touched && title?.invalid">
            <small *ngIf="form.get('title')?.errors?.['required']">Field title is required</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: category?.invalid && (category?.dirty || category?.touched)}"
        formGroupName="selectCategory">
        <label for="category">Category:*</label>
        <select id="category" formControlName="category">
            <option value="mtb">MTB</option>
            <option value="road">ROAD</option>
            <option value="gravel">Gravel</option>
        </select>
        <div class="validation"
            *ngIf="category?.touched && category?.invalid">
            <small *ngIf="category?.errors?.['required']">Field category is
                required</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: description?.invalid && (description?.dirty || description?.touched)}">
        <label>Post description:*</label>
        <textarea type="text" cols="1" rows="4" formControlName="description"></textarea>
        <div class="validation" *ngIf="description?.touched && description?.invalid">
            <small *ngIf="description?.errors?.['required']">Field description is required</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: text?.invalid && (text?.dirty || text?.touched)}">
        <label>Post text:*</label>
        <quill-editor formControlName="text"></quill-editor>
        <div class="validation" *ngIf="text?.touched && text?.invalid">
            <small *ngIf="text?.errors?.['required']">Field text is required</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: image?.invalid && (image?.dirty || image?.touched)}">
        <label for="image">Url image*</label>
        <input id="image" type="text" placeholder="https://" formControlName="image">
        <div class="validation" *ngIf="image?.touched && image?.invalid">
            <small *ngIf="image?.errors?.['required']">Field url image is required</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: author?.invalid && (author?.dirty || author?.touched)}">
        <label for="author">Post author:*</label>
        <input id="author" type="text" formControlName="author">
        <div class="validation" *ngIf="author?.touched && author?.invalid">
            <small *ngIf="author?.errors?.['required']">Field author is required</small>
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">Create post</button>
</form>