<div class="row">
    <section class="column">
        <h2 class="subtitle">Some text here 1</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores tempore praesentium blanditiis
            nesciunt, rerum ab recusandae consequuntur? Ratione dolores vero necessitatibus eaque soluta blanditiis
            magni quae totam, nostrum minima tempora vitae <a href="#">dolorum est</a> repudiandae.</p>
    </section>
    <section class="column">
        <h2 class="subtitle">Some text here 2</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores tempore praesentium blanditiis
            nesciunt, rerum ab recusandae consequuntur? Ratione dolores vero necessitatibus eaque soluta blanditiis
            magni quae totam, nostrum minima tempora vitae <a href="#">dolorum est</a>repudiandae.</p>
    </section>
</div>