:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #ff0000;;
}

a:visited {
    color: #cc0000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkred;
}

/* styles for opened menu */
.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #dc2424;
    color: #fff;
}

.nav-menu>li+li {
    border-top: 1px solid #ccc;
}

.nav-menu>li>a {
    display: block;
    padding: 0.8em 1em;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(../src/assets/cooking.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

main {
    padding: 1em;
}

.centered {
    text-align: center;
}