<article class="post-card">
    <header>
        <h2 class="subtitle">Title</h2>
        <button class="btn" routerLink="/">Go back</button>
    </header>

    <div class="info">
        <span>Author: Maks</span>
        <span>Created at: 10.10.2024</span>
    </div>    

    <p class="post-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, eveniet illo! Commodi, possimus corrupti
        aliquid mollitia impedit vero nisi porro quos laboriosam voluptatem? Sit, eveniet sint quibusdam eaque vero sunt
        perferendis voluptatem? Temporibus cumque, beatae officia et modi suscipit possimus quod ea provident adipisci
        nesciunt hic a? Delectus inventore, veritatis pariatur dignissimos iure repellendus mollitia asperiores a hic
        est alias nihil atque minima, perferendis veniam rem. Minus, totam atque neque, harum voluptatibus maiores
        rerum, aut pariatur dolorem suscipit optio modi repellat magni et animi commodi iusto? Ipsam, a dolores, error
        excepturi quas voluptatum quidem voluptatibus quod ratione, maiores in id eius. Cumque dicta eligendi quod
        consequuntur deleniti enim blanditiis iste quo tenetur mollitia sit pariatur explicabo expedita quam, reiciendis
        temporibus quibusdam sapiente. Obcaecati magni in tenetur, quam, ipsum ullam voluptate enim veniam autem libero,
        aliquid error pariatur saepe! Consequatur laborum non nam numquam, magnam fugiat magni, dolores quis ea eveniet
        quasi maxime labore, rerum modi aliquam dolorum quisquam vel maiores? Minus libero alias similique nulla, odio
        dolorem ullam eos officia qui commodi enim optio nesciunt doloribus inventore cupiditate reprehenderit
        accusantium iusto quaerat ipsum quas pariatur atque neque. Quas quibusdam libero quod eos dolores quo neque
        quaerat animi. Dolore, at error veritatis, modi voluptatibus maiores esse dolores delectus accusantium ad
        expedita necessitatibus molestias facilis dicta illo doloribus veniam laudantium quod amet tenetur consequatur
        adipisci? Assumenda, nesciunt consequuntur cum, sint necessitatibus, odit ipsa repudiandae debitis quo ea
        eveniet sunt iure obcaecati laborum facilis tempore. Laborum sapiente eaque dolores accusantium maxime totam
        molestias laudantium eos. Voluptatibus, laborum! Voluptates, distinctio, non alias quasi facere numquam quaerat,
        dolorem veritatis qui dolores nisi corrupti voluptatum iusto natus ad! Cumque quis vel obcaecati necessitatibus
        unde molestiae facere dicta repellendus nemo, doloremque similique at eum eligendi minima optio in magnam
        voluptatibus illo sed culpa nobis voluptatem rem. Inventore iure minima, dolorem dicta nulla, ullam ipsam eius
        quia dolor iste, amet quisquam natus? Doloremque id quidem dolorum aut vero maxime sequi molestiae saepe atque
        maiores hic eum vel similique, odit, cupiditate nemo. Iste deleniti maiores quisquam iure odit, nam et sint fuga
        laudantium rem ullam alias! Molestiae rem accusamus doloribus. Facilis, quia impedit? At fugit sit nihil non
        voluptas laborum. Quidem aspernatur eveniet saepe neque quas nisi amet pariatur nihil ex perspiciatis facilis,
        numquam illum qui corporis soluta. Qui maxime ad odit quo nulla laborum repellendus ipsa nam. Similique quia a
        labore recusandae incidunt totam aliquam atque quisquam deleniti amet maiores consequatur nostrum veniam ipsum,
        consectetur ratione accusantium. Commodi soluta optio culpa tempore distinctio necessitatibus quos, facere
        eveniet eos numquam perferendis, quasi minima dignissimos? Dolorum modi eum eligendi eius. Ratione
        necessitatibus veniam ab, aspernatur architecto sunt ex ullam. Officiis facilis quasi molestias quod? Delectus,
        nemo et autem sapiente quas omnis totam vero deleniti debitis dolore ratione expedita nam deserunt impedit illo
        nostrum odit ut consectetur possimus. Sunt dicta dolore, molestias totam assumenda hic aspernatur fugit cum
        aliquam nulla, a quod magnam soluta quos maiores modi earum molestiae explicabo vitae reiciendis error? Minima
        accusantium veritatis magnam possimus illum ex porro?
    </p>
</article>