.card {
    border: #ccc 1px dotted;
    margin: 4em auto;
    max-width: 375px;
    padding-bottom: 1.5em;
}

.form-control > label {
    display: none;
}

h2 {
   margin-bottom: 0;
}

button {
    margin-top: 1em;
}


