<main>
    <h2>Latest</h2>
    <div class="row">
        <section class="column" *ngFor="let post of posts">
            <a [routerLink]="['/post', post.id]">
                <img [src]="post.image">
            </a>
            <div class="post_header">
                <div>{{ post.category }}</div>
                <div>{{ post.date | date:'dd-MM-yyyy' }}</div>
            </div>
            <h3 class="subtitle">{{ post.title }}</h3>
            <p>{{ post.description }}</p>
        </section>
    </div>
</main>