@model CarBlogApp.Models.Category;

@{
    ViewData["Title"] = "Category Editing Form";
}

<div class="contact">
    <h3>Edit category, please</h3>

    @using (Html.BeginForm())
    {
        <div class="group">
            <p>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </p>
        </div>
        @Html.ValidationSummary(true)
        <input class="button" type="submit" value="Submit" />
    }
</div>
