@model CarBlogApp.Models.Category;

@{
    ViewData["Title"] = "Error! Such category already exists!";
}

<div style="color: red;">
    <h2>Category @Model.Name already exists!</h2>
    <small>Please, choose another one</small>
</div>