<div class="tile centered">
  <aside class="sidebar">
    <h2 class="menu-title" (click)="toggleMenu()">Recipes
      <span class="arrow" [ngClass]="{'rotate': isMenuOpen}">&#9660;</span>
    </h2>
    <ul class="nav-menu" [ngClass]="{'show': isMenuOpen}">
      <li><a href="#" (click)="closeMenu()">Vegan</a></li>
      <li><a href="#" (click)="closeMenu()">Salads</a></li>
      <li><a href="#" (click)="closeMenu()">Pasta</a></li>
      <li><a href="#" (click)="closeMenu()">Soups</a></li>
      <li><a href="#" (click)="closeMenu()">Desserts</a></li>
      <li><a href="#" (click)="closeMenu()">Quick and easy</a></li>
    </ul>
  </aside>
</div>