<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarBlog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarBlogApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-heading">Welcome to our Car blog</h1>
        </header>
        <nav>
            <ul class="site-nav">
                <li><a asp-controller="Home", asp-action="Index">Home</a></li>
                <li><a asp-controller="Home", asp-action="About">About</a></li>
                <li><a asp-controller="Home", asp-action="Contact">Contact</a></li>
                <li class="nav-right"><a href="#">Add post</a></li>
            </ul>
        </nav>
        <div class="sidebar-top tile">
            <h3>Categories</h3>
            <ul class="site-categories">
                <li><a href="#">Mercedes</a></li>
                <li><a href="#">Alfa-romeo</a></li>
                <li><a href="#">Lamborgini</a></li>
                <li><a href="#">Ferrari</a></li>
            </ul>
        </div>
        <div class="sidebar-bottom tile">
            <h4>Latest magazine</h4>
            <div class="centered">
                <img src="../images/magazine.jpg" />
                <a class="dwl-button" href="#">Download</a>
            </div>
        </div>
        <main class="main tile">
            @RenderBody()
        </main>
        <footer class="tile centered">
            <p>
                &copy; 2023 - CarBlogApp. All right reserved.
            </p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
