<section class="column">
    <img src="assets/images/gravel.jpg" alt="Gravel bike">
    <div class="post_header">
        <div>Gravel</div>
        <div>13.02.2023</div>
    </div>
    <h3 class="subtitle">Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eligendi repellat incidunt nisi
        minima?
        Assumenda, accusamus. Vero deleniti sed recusandae accusantium omnis similique corrupti dicta,
        eligendi,
        expedita aliquam, debitis ipsum.</p>
</section>
<section class="column">
    <img src="assets/images/mtb-bikes.jpg" alt="MTB bike">
    <div class="post_header">
        <div>Gravel</div>
        <div>13.02.2023</div>
    </div>
    <h3 class="subtitle">Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eligendi repellat incidunt nisi
        minima?
        Assumenda, accusamus. Vero deleniti sed recusandae accusantium omnis similique corrupti dicta,
        eligendi,
        expedita aliquam, debitis ipsum.</p>
</section>
<section class="column">
    <img src="assets/images/road-bike.jpg" alt="Road bike">
    <div class="post_header">
        <div>Gravel</div>
        <div>13.02.2023</div>
    </div>
    <h3 class="subtitle">Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eligendi repellat incidunt nisi
        minima?
        Assumenda, accusamus. Vero deleniti sed recusandae accusantium omnis similique corrupti dicta,
        eligendi,
        expedita aliquam, debitis ipsum.</p>
</section>