<section class="column">
    <a [routerLink]="['/post', 12312]"><img src="assets/images/gravel.jpg" alt="Gravel bike"></a>
    <div class="post_header">
        <div>Gravel</div>
        <div>13.02.2023</div>
    </div>
    <h3 class="subtitle">Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum <a href="">dolor sit amet</a>, consectetur adipisicing elit. Saepe eligendi repellat incidunt nisi
        minima?
        Assumenda, accusamus. Vero deleniti sed recusandae accusantium omnis similique corrupti dicta,
        eligendi,
        expedita aliquam, debitis ipsum.</p>
</section>