.subtitle {
    margin: 0;
    text-transform: uppercase;
}

.post-card {
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 16px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post-card .info {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0.7em;
}

.post-card .info span {
    display: inline-block;
    margin-right: 0.7em;
}

.post-card .img img {
    max-width: 100%;
    margin-top: 0.5em;
    height: auto;
    border-radius: 0.5em;
}

.post-card .post-content {
    color: #333;
    line-height: 1.6;
}

button {
    display: none;
}


@media (min-width: 35em) {
    .img img {
        float: left;
        margin-right: 1em;
    }

    
}