<article class="post-card">
    <header>
        <h2 class="subtitle">{{post.title}}</h2>
    </header>

    <div class="info">
        <span>Author: {{post.author}}</span>
        <span>Created at: {{post.createAt | date:"medium"}}</span>
    </div>

    <div class="img">
        <img [src]="post.imageUrl" alt="Placeholder image" />
    </div>

    <p>
        <!-- {{post.description}} -->
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit dolor quidem expedita non dicta aliquid iure, labore rem aut eius veritatis voluptatem numquam suscipit.
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit dolor quidem expedita non dicta aliquid iure, labore rem aut eius veritatis voluptatem numquam suscipit.
    </p>
</article>