<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter to the admin panel</h2>

    <div class="form-control" [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}">
        <label for="username">Username:</label>
        <input id="text" type="text" formControlName="username">
        <div class="validation" *ngIf="form.get('username').touched && form.get('username').invalid">
            <small *ngIf="form?.get('username')?.errors['required']">Field is required</small>
            <small *ngIf="form?.get('username')?.errors['minlength']">
                Username must be at least {{form.get('username').errors?.['minlength'].requiredLength}} symbols.
                Now {{form.get('username').errors['minlength'].actualLength}} symbol(s)
            </small>
        </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
            <small *ngIf="form?.get('password')?.errors['required']">Field is required</small>
            <small *ngIf="form?.get('password')?.errors['minlength']">
                Password must be at least {{form.get('password').errors?.['minlength'].requiredLength}} symbols.
                Now {{form.get('password').errors['minlength'].actualLength}} symbol(s)
            </small>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Enter</button>
</form>