.page-header {
    padding: 0.1em 1em;
    background-color: var(--bg-main);
}

.header-centered {
    text-align: center;
}

.slogan {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 0;
    text-transform: uppercase;
    color: var(--pink-color);
    font-weight: bold;
}