<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/">Back</button>
    </div>

    <div class="info">
        <small class="info-author">Written by Max</small>
        <small class="info-date">Date: 13.02.2023</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet <a href="/">consectetur</a> adipisicing elit. Nemo, voluptas officia fugiat maxime doloremque, similique provident ut in facere illo deserunt, perferendis optio adipisci rerum velit cumque sapiente nihil ipsum minus pariatur iure dignissimos ducimus dolore non! Eius aspernatur eveniet maxime nostrum, esse reiciendis modi optio rerum, explicabo voluptatum facilis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, voluptas officia fugiat maxime doloremque, similique provident ut in facere illo deserunt, perferendis optio adipisci rerum velit cumque sapiente nihil ipsum minus pariatur iure dignissimos ducimus dolore non! Eius aspernatur eveniet maxime nostrum, esse reiciendis modi optio rerum, explicabo voluptatum facilis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, voluptas officia fugiat maxime doloremque, similique provident ut in facere illo deserunt, perferendis optio adipisci rerum velit cumque sapiente nihil ipsum minus pariatur iure dignissimos ducimus dolore non! Eius aspernatur eveniet maxime nostrum, esse reiciendis modi optio rerum, explicabo voluptatum facilis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, voluptas officia fugiat maxime doloremque, similique provident ut in facere illo deserunt, perferendis optio adipisci rerum velit cumque sapiente nihil ipsum minus pariatur iure dignissimos ducimus dolore non! Eius aspernatur eveniet maxime nostrum, esse reiciendis modi optio rerum, explicabo voluptatum facilis!</p>
    </div>
</div>