@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewData["Title"] = "Product List";
}

@foreach (var product in Model)
{
    Html.RenderPartial("ProductSummary", product);
}

@*<div page-model="@Model.PagingInfo" class="pager"></div>*@

