@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewData["Title"] = "Product List";
}

@foreach (var product in Model.Products!)
{
    <div class="item">
        <h3 class="item">@product.Name</h3>
        @product.Description
        <h4>@product.Price?.ToString("c")</h4>
    </div>
}

<div class="pager">
    @Html.PagingLinks(Model.PagingInfo!, x => Url.Action("List", new { page = x, category = Model.CurrentCategory })!)
</div>



